<div class="login_and_registration">
    <form id="login_form">
        <h3>Log</h3>
        <ul>
            <li>
                <label for="login_email">login_email</label>
                <input type="text" id="login_email">
            </li>
            <li>
                <label for="login_password">login_password</label>
                <input type="password" id="login_password">
            </li>
            <button>Log In</button>
        </ul>
    </form>
    <form id="regsiter_form">
        <h3>Register</h3>
        <ul>
            <li>
                <label for="register_email">register_email</label>
                <input type="text" id="register_email">
            </li>
            <li>
                <label for="regsiter_password">regsiter_password</label>
                <input type="password" id="regsiter_password">
            </li>
            <li>
                <label for="regsiter_repeat_password">regsiter_repeat_password</label>
                <input type="password" id="regsiter_repeat_password">
            </li>
            <button>Register</button>
        </ul>
    </form>

</div>
{{outlet}}